.titulo{
  box-sizing: border-box;
  margin: 0px;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: -0.05em;
  color: #576d96;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.paragrafo{
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #576d96;
  font-family: Montserrat, sans-serif;
}

.subTitulo{
  box-sizing: border-box;
  margin: 0px 0px 20px;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: -0.05em;
  color: #576d96;
  font-family: Montserrat, sans-serif;
}

.ul{
  box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; font-size: 16px;
}

.li{
  box-sizing: border-box;
}
.br{
  box-sizing: border-box;
}

.central{
  padding-top: 6rem;
  margin: 1%;
}