.header{
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0;
  background-image: linear-gradient(to right top, #f2ecc8, #f8e8cb, #fce5cf, #fce2d5, #f9e1da, #f9dad8, #f7d3d9, #f2cddc, #e7c1e3, #ceb9ee, #a4b6f8, #5fb5fb);

}

.Span{
  padding-left:1%;
  padding-right: 1%;
}

.nav{
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.buttonNav{
  width: 120px;
  height: 120px;
}

@media(max-width: 720px){
  
.header{
  justify-content: space-around;
}
.Span{
  display: none;
}
}