.wrapper{
  display: grid;
  grid-template-columns: 15% 70% 13%;

  gap: 1rem;
}
.frameCentral{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.frameLeft,
.frameRight{
  padding-top: 4rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #f1f1f1;
}
.Img{
  height: 82px;
  
}
.Svg{

display: none;
  
}

.adsTopo{
  height: 5rem;
  width: 100%;


}
.btnFiltro{
  display: none;
}
@media(max-width: 720px){

  .frameLeft,
  .frameRight{
    display: none;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .Svg{
    display: block;
    margin-top: 10px;
    fill: violet;
  }
  .icon{
    padding-top: 5px;
    width: 40px;
    height: 40px;
    margin-bottom: 5%;
  }
}

