.table {
  position: relative;
  width: 95%;
  margin: 2rem;
margin-bottom: 40px;
 background-color: #fffdd0;
  border-radius: 25px;
  text-align: center;
  z-index: 1;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}



tr:nth-child(even){
  background-color: #dcdcdc;

}
th{
  font-weight: bold;
    border-bottom: 1px solid #333;
}

td, th {
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.buttonTh{
  height: 2rem;
  width: 2rem;
  background-image: none;
  border: none;
  background: transparent;
  box-shadow: none;
}

.mobileExpand{
  display: none;
}

@media(max-width: 40rem){
  .table {
    margin: 0rem;
width: 98%;
  }
  .subRow{
    display: none;
  }
  .mobileExpand{
    display: table-cell;
  }
}

.subRowOff{
  display: none;
}